body
{
  font-size: 2.0em;
  font-family: Verdana, sans-serif;
  background-color: #404040;  
}

.container
{
    width: 85%;
    padding: 10px 50px;
    background: #f0ede6;
    margin: 50px auto;
    border: 3px solid #F15B2A;
    box-shadow: 0px 0px 2px 3px #EB0486;
}

.clear
{
    clear: both;
}
.left{
  float: left;
}
.right{
  float: right;
}
main
{  
  width: 70%;
  
  padding: 10px 10px;
  margin-top: 20px;
}

.side
{
  float: right;
  width: 25%;
  text-align: right;
  margin-top: 20px;
  font-size: 0.8em;
  
  padding: 10px 10px;
}

.search
{
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.search input[type=text]
{
    width: 190px;
    margin-right: 10px;
    vertical-align: middle;
    padding: 8px 6px;
}

.search a
{
    vertical-align: middle;
    display: inline-block;
}

h1,h2,h3
{
    font-family: 'Playball', 'Times New Roman', serif;
    text-shadow: 1px 1px 0 #FFFFFF;
}

h1
{
  font-size: 3.8em;
  font-weight: bold;
}

h2
{
    font-size: 2.2em;
}

a
{
    color: #F15B2A;
}
a:hover{
  color: #EB0486;
  font-weight: bold;
}
.image-heading
{
    margin: 20px 0 40px;
}
fieldset{
  border: 2px solid #EB0486;
}
input, select,input[type=email]
{
    border: 2px solid #F15B2A;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    padding: 3px 6px;
    border-radius: 5px;
    width: 51%;    
}

select
{
    width: 53.5%;
}

select#details-card-expiry-month,
select#details-card-expiry-year
{
    width: 26%;
    margin-right: 5px;
}

input[type=text].datepicker
{
    width: 25.5%;
}

input[type=text].datepicker.datepicker-first {
    margin-right: 15px;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 5px;
    border: 2px solid #F15B2A;
    vertical-align: middle;
}
input[type='checkbox']:checked {
    background: url('images/tick.jpg') #EB0486;
}

label,.label
{
    width: 90%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

.date-label
{
    width: auto;
    margin-right: 10px;
}

.checkboxes-label
{
    width: auto;
    margin-bottom: 10px;
}

*:focus 
{
  outline:1;
  box-shadow: 0px 0px 2px 3px #EB0486;
}

.activities > div
{
  display: inline-block;
  width: 300px;
}

.field
{
  margin-bottom: 30px;
}

.invalid
{
  border-color: #EB0486;
}

#validation-summary p
{
    color: #EB0486;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.total-price
{
  font-size: 2.6em;
  font-family: 'Playball', 'Times New Roman', serif;
  text-shadow: 1px 1px 0 #FFFFFF;
  margin: 50px 0 30px;
  font-weight: bold;
}

.total-price-label
{
  width: 220px;
  display: inline-block;
}

.total-price-value
{
  color: #EB0486; 
}

.price
{
   color: #EB0486; 
   font-weight:bold;
   margin-left: 5px;   
}

.button
{
  margin: 20px 5px 20px 0;
	height:50px;
  display:inline-block;
  border-radius: 30px;
  width: 20%;
  font-family: 'Playball', 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2em;
}
.button:hover,.button[type=submit]:hover{
  background-color:  #F15B2A;
}
.button[type=submit]{
  background-color: #EB0486;
}
.field-inline
{
  display: inline-block;
}